@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;

.footer {
  position: relative;
  width: 100%;
  padding: 1rem 1rem;
  @include flexbox-column($justify: flex-start, $align: center);
  border-top: 1px solid $border-lightgrey;
  gap: 2rem;

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $background-lightgrey;
  }

  &__info {
    width: 100%;

    @include flexbox-row($justify: space-between, $align: center);

    &--copy {
      @include flexbox-row($justify: space-between, $align: center);
      gap: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--socials {
      @include flexbox-row($justify: space-between, $align: center);
      gap: 1rem;

      a {
        @include flexbox-row($justify: center, $align: center);
        background-color: $background-palegrey;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        &:hover {
          cursor: pointer;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__made {
    width: 100%;
    @include flexbox-row($justify: space-between, $align: center);

    &--by {
      a {
        color: $color-lightblue;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &--links {
      ul {
        @include flexbox-row($justify: space-between, $align: center);
        gap: 1.2rem;
      }
      li:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 750px) {
  .footer {
    &::after {
      top: 100px;
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
      gap: 1.2rem;

      &--copy {
        width: 100%;
      }

      &--socials {
        align-self: flex-start;
      }
    }

    &__made {
      @include flexbox-row($justify: center, $align: center);

      &--links {
        display: none;
      }
    }
  }
}
