$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-lightgrey: rgba(0, 0, 0, 0.4);
$color-darkred: rgb(200, 30, 67);
$color-palewhite: rgba(255, 255, 255, 0.4);
$color-lightgreen: rgb(40, 163, 89);
$color-lightblue: rgb(0, 87, 255);

$background-darkblue: rgb(19, 54, 84);
$background-lightblue: rgb(0, 87, 255);
$background-lightblue2: rgb(229, 243, 253);
$background-darkgreen: rgb(19, 84, 78);
$background-lightgreen: rgba(40, 163, 89, 0.04);
$background-lightgrey: rgba(0, 0, 0, 0.4);
$background-lightred: rgba(200, 30, 67, 0.04);
$background-paleblue: rgba(0, 87, 255, 0.04);
$background-palegrey: rgba(0, 0, 0, 0.04);

$border-lightgrey: rgba(0, 0, 0, 0.4);
$border-black: rgb(0, 0, 0);
$border-lightgreen: rgb(40, 163, 89);
$border-paleblue: rgba(0, 87, 255, 0.2);
$border-palegrey: rgba(0, 0, 0, 0.04);
